* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria: black;
    --cor-secundaria: rgb(241, 241, 241);
}

li {

    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--cor-primaria);
    
}
ul{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav{
    background-color: var(--cor-secundaria);

}
